%h1 Node list


%table
  - @nodes.each do |node|
    %tr
      %td= link_to node.base_url, node
      %td
        != link_to 'javascript: void(0)', class: 'delete-knob', title: 'Delete this node', method: :delete, data: { 'delete-node' => node.to_param, 'base-url' => node.base_url } do
          &times;

= link_to 'New node', :new_node, class: 'button'

%hr/

%h3 Reports
%p
  = link_to 'A node with highest CPU load', '/'
